@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.covid-page-bg-container {
    border-style: solid;
    border-color: #0967d219;
    border-width: 10px;
}

.bg-container {
    background-color: white;
}

.top-section-card {
    padding: 13px;
}

.top-section-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
}

.button {
    height: 33px;
    width: 110px;
    color: white;
    font-size: 17px;
    text-align: center;
    background-color: #0967d2;
    border-width: 0px;
    border-radius: 8px;
}

.top-section-image {
    margin-left: 60px;

}

.covid-test-container {
    background-color: #0967d219;
    border-radius: 12px;
    margin: 10px;
    padding: 13px;
}

.virus-image {
    height: 60px;
    width: 60px;
}

.covid-test-text-container {
    margin-left: 14px;
}

.covid-test-heading {
    font-size: 20px;
    font-family: "Roboto";
    color: #323f4b;
}

.covid-test-para {
    color: #707070;
    font-size: 14px;
}

.symptoms-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    margin-left: 13px;
}

.symptoms-card {

    border-radius: 7px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    height: 100px;
    width: 90px;
    font-size: 15px;
    padding: 10px;

    margin: 10px;
}

.image {
    height: 45px;
    width: 45px;
}

.dry-cough-card {
    background-color: #3ebd93;
}

.high-fever-card {
    background-color: #e668a7;
}

.head-ache-card {
    background-color: #a368fc;
}

.videos-heading {
    color: #323f4b;
    font-size: 20px;
    font-family: "Roboto";
    padding: 13px;
}

.videos-card {
    background-color: #e12d3919;
    border-radius: 10px;
    margin: 13px;
    padding: 13px;
}

.videos-text-container {
    margin-left: 12px;
}

.videos-text-container-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
}

.videos-text-container-para {
    color: #707070;
    font-family: "Roboto";
    font-size: 14px;
}

.footer-button {
    text-align: center;
}